*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
}
.calculator{
    width: 400px;
    height: 520px;
    margin:50px auto;
    box-sizing: content-box;
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
    background-color: black;
}
.display{
    width: 400px;
    height: 100px;
    border-style: solid;
    border-width: 5px 5px 7px 5px;
    align-content: end;
    padding-left: 15px;
    font-size: 5.5em;
    background-color: rgb(213, 213, 213);
}
.input{
    display: flex;
    flex-wrap: wrap;
}
.input button{
    width: 100px;
    height: 84px;
    background-color: aqua;
    border-radius:5px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    text-align: center;
    align-content: center;
    font-size:xx-large;
}
#zero{
    width: 200px;
}
.input .extra{
    background-color: dodgerblue;
}
.input .operand{
    background-color: #217C7E;
}
.input .operator{
    background-color: #FF8F1F;
}